/* Helpers */

.section {
    padding-top: 8vh;
    padding-bottom: 8vh;
}

.section-small {
    padding-top: 2vh;
    padding-bottom: 2vh;
}

/* General */

body {
    background: #e4e4ee;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.toast {
    margin-bottom: 4rem;
}

/* Header */

h1 {
    margin: 0;
    font-size: 0;
}

.navbar {
    background: #fff;
}

.navbar a {
    opacity: 0.5;
}

.navbar a:hover,
.navbar a:focus {
    opacity: 1;
}

.navbar-logo {
    display: block;
    width: 4rem;
    height: 4rem;
    background: transparent url("../img/logo.png") no-repeat center;
    background-size: contain;
    opacity: 1;
    transition: opacity .3s;
}

.navbar-logo:hover,
.navbar-logo:focus {
    opacity: 0.5;
}

/* Board */

.board {
    margin-left: 10rem;
}

.board-row {
    display: flex;
    justify-content: center;
}

.box {
    width: 5rem;
    height: 5rem;
    border: 3px solid #bbbbbb;
    border-radius: 50%;
    margin: 0 0.2rem;
}

.ball {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.ball-black {
    background: #000;
}

.ball-white {
    background: #fff;
}

.ball-selected {
    box-shadow: 0 0 1rem 0.25rem #007bff;
}

.ball-to-push {
    box-shadow: 0 0 1rem 0.25rem #b8092f;
}

.slot {
    background: #b9b9ca;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.score_board{
    background: #9597a8;
    height: 14rem;
    margin-right: 3rem;
    margin-left: 2rem;
    color: #dcd9e1;
    padding:2rem 2rem 0 2rem;
}

.white_point{
    background: #fff;
    margin: 0.25rem 0 1.5rem 1rem;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.black_point{
    background: #000;
    margin-left: 1rem;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.scores{
    height: 3rem;
    margin-bottom: 2rem;
}

/* Footer */

footer {
    text-align: center;
    height: 3rem;
}

footer p {
    margin: 0;
}

/* Media Queries */

/* md */
@media screen and (min-width: 860px) {
    .footer-additional {
        text-align: right;
    }
}