{% extends "base.html" %}
{% block title %}Active games{% endblock %}
{% block content %}
     <section class="section container grid-lg">
        <div class="columns">
            <div class="column col-12">

                <h2>Aktywne gry</h2>
                <p class="info">Lista gier, do których możesz dołączyć</p>
                {% if games %}
                    {% for game in games %}
                             <div class="input-group game-element">
                                 <h4>{{ games[game].name }}</h4>
                                 <a class="btn btn-primary btn-lg btn-join" href="{{ url_for('join', game_id=game) }}"><i class="fas fa-user-plus"></i> Dołącz</a>
                             </div>
                    {% endfor %}
                {% else %}
                    <p class="info">Nie ma żadnych aktwnych gier, do których można dołączyć.</p>
                {% endif %}
            </div>
        </div>
     </section>
{% endblock %}