{% extends "base.html" %}
{% block title %} Strona główna {% endblock %}
{% block content %}
    <section class="section container grid-lg">
        <div class="columns">
            <div class="column col-12">
                <h2>Witaj w grze Abalone</h2>
                <p>Rozpocznij rozgrywkę wybierając jedną z opcji.</p>
                <a class="btn btn-primary btn-lg" href="{{ url_for('start') }}">
                    <span class="icon icon-apps" aria-hidden="true"></span>
                    Zagraj z komputerem
                </a>
                <a class="btn btn-primary btn-lg" href="{{ url_for('start') }}">
                    <span class="icon icon-people" aria-hidden="true"></span>
                    Zagraj z drugim graczem
                </a>
            </div>
        </div>
    </section>
{% endblock %}

