{% extends "base.html" %}
{% block title %}Logowanie{% endblock %}

{% block content %}
    <section class="section container grid-lg">
        <div class="columns">
            <div class="column col-12">
                <h2>Logowanie</h2>
                <form action="{{ url_for('login') }}" method="post">
                    <input name="username" type="text">
                    <input name="password" type="password">
                    <label class="checkbox"><input type="checkbox" name="remember_me" value="yes"> Zapamiętaj mnie</label>
                    <button>Zaloguj się</button>
                </form>
            </div>
        </div>
    </section>

{% endblock %}

