{% extends "base.html" %}
{% block title %}Start{% endblock %}
{% block content %}
    <section class="section container grid-lg">
        <div class="columns">
            <div class="column col-12">
                <h2>Utwórz nową grę</h2>
        <form method="post" action="{{ url_for('start') }}" class="form">
            <div class="form-group">
                <label class="form-label" for="input-example-1">Wprowadź nazwę dla swojej gry</label>
                    <div class="col-6">
                        <input class="form-input" type="text" name="name" required id="input-example-1" placeholder="Nazwa gry">
                    </div>
            </div>
            <div class="form-group">
                <a class="btn btn-primary btn-lg" href="{{ url_for('index') }}">Powrót</a>
                <button class="btn btn-primary btn-lg">Rozpocznij grę</button>
            </div>
        </form>
    </section>
{% endblock %}