{% extends "base.html" %}
{% block title %}Start{% endblock %}
{% block content %}
    <section class="section container grid-lg">
        <div class="columns">
            <div class="column col-12">
                <h2>Utwórz nową grę</h2>
                <p class="info">Gra rozpocznie się kiedy Twój znajomy dołączy do rozgrywki.
                <br> W zakładce 'Aktywne gry' możesz zobaczyć gry, do których nikt jeszcze nie dołączył.
                <br> W zakładce 'Moje gry' znajdziesz wszystkie gry, w których uczestniczyłeś bądź uczestniczysz. </p>
                <form method="post" action="{{ url_for('start') }}" class="form">
                    <div class="form-group">
                        <label class="form-label info" for="input-game-name">Aby rozpocząć nadaj swojej grze nazwę.</label>
                        <div class="col-6">
                            <input class="form-input input-lg" type="text" name="name" required id="input-game-name" placeholder="Nazwa gry">
                        </div>
                    </div>
                        <a class="btn btn-error btn-lg button-right" href="{{ url_for('index') }}"><i class="fas fa-undo "></i></a>
                        <button class="btn btn-primary btn-lg button-left">Rozpocznij grę</button>
            </div>
        </div>

    </section>
{% endblock %}